<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blockchain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    function changeWallet() {
        var id = document.getElementById("walletSelect").value;
        var pk=""
        if(id !=""){
            pk = document.getElementById(id).getAttribute('data-pk');
        }
        document.getElementById("fromWallet").value = id;
        document.getElementById("privKey").value = pk;
    }
  </script>
    <style>
    body {
    background-image: url("/static/images/b7.jpg");
    height: 100%;
    background-repeat: no-repeat;
}
  </style>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
              <img src="/static/images/favicon.png" style="max-height:40px;float:left;margin-top:5px">
      <a class="navbar-brand" href="/">Blockchain</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/blocks">Blocks</a></li>
      <li><a href="/wallets">Wallets</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/about">About</a></li>
    </ul>
      <button class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-plus"></span> New Transaction</button>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/message"><span class="glyphicon glyphicon-inbox"></span> Post Message</a></li>
      {% if session.LoggedIn==False %}
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% else %}
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

{% from "includes/_formhelpers.html" import render_field %}
  {% if errors %}
    {% for error in errors %}
        <p class="help-inline">{{error}}</p>
    {% endfor %}
  {% endif %}
<div class="container bg" style="margin-top:90px;background-color: white;margin-bottom: 30px;border-radius: 4px;">
    <div class="form-group" style="margin-top:20px">
      <label for="walletSelect">Sending Wallet:</label>
      <select class="form-control" id="walletSelect" onchange="changeWallet()">
        <option value=""">Custom</option>
          {% for wallet in userWallets %}
          <option id="{{wallet.walletID}}" value="{{wallet.walletID}}" data-pk="{{wallet.privateKey}}">ID: {{wallet.walletID}} Balance: {{wallet.balance}}</option>
          {% endfor %}
      </select>
    </div>
    <form method="POST" action="">
    <div class="form-group">
        {{render_field(form.toWallet,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.fromWallet,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.privKey,class_="form-control", style="height:150px")}}
    </div>
    <div class="form-group">
        {{render_field(form.amount,class_="form-control",type="number", step=".0001")}}
    </div>
    <p><input type="submit" value="Submit" class="btn btn-primary"/> </p>
</form>
</div>
</body>
</html>
